$gridsize: 24px
$every: 4

#toolbar
  height: auto
  margin-top: 10px
  outline: 1px solid silver
  svg
    opacity: 0.8
  li
    margin: 2px
    &:hover
      background-color: #f8f8ff
      outline: 1px solid silver
      cursor: move
      svg
        opacity: 1

#diagram
  text-align: center
  box-shadow: inset 0px 0px 45px 0px rgba(0,0,0,0.13)
  height: 320px
  li
    &:hover
      cursor: ew-resize
      background-color: aliceblue

#toolbar, #diagram
  overflow: hidden
  display: block
  padding: 0

  li
    height: auto
    display: inline-block

  svg

.ui-sortable-placeholder
  background-color: azure
  outline: 1px solid red


//#toolbar
//  li
//    background-color: #269
//    background-image: linear-gradient(white 2px, transparent 2px), linear-gradient(90deg, white 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px)
//    background-size: $every*$gridsize $every*$gridsize, $every*$gridsize $every*$gridsize, $gridsize $gridsize, $gridsize $gridsize
//    background-position: (-2px) -2px, -2px -2px, -1px -1px, -1px -1px