#toolbar
  li
    margin: 10px


#toolbar, #diagram
  overflow: hidden
  outline: 1px solid silver
  height: 45vh
  display: block
  margin: 0
  padding: 0

  li
    outline: 1px solid green
    height: auto
    display: block
    float: left

  svg
