<li id="network-direction">
  <legend>Netwerk richting</legend>

  <input id="dir-n" type="radio" value="N" name="network-direction" checked>
  <label id="label-dir-n" for="dir-n"></label>

  <input id="dir-o" type="radio" value="O" name="network-direction">
  <label id="label-dir-o" for="dir-o"></label>

  <input id="dir-z" type="radio" value="Z" name="network-direction">
  <label id="label-dir-z" for="dir-z"></label>

  <input id="dir-w" type="radio" value="W" name="network-direction">
  <label id="label-dir-w" for="dir-w"></label>

</li>