<li class='diagram-editor-options' id='flow-and-buoyage-direction'>
<legend>
Stroomrichting en betonningsrichting
</legend>
<ul>
<li id='button-group-n'>
<input id='flow-direction-n' name='flow-direction' type='radio' value='n'>
<label for='flow-direction-n' id='label-flow-direction-n'></label>
<input id='buoyage-direction-n-rood-rechts' name='buoyage-direction' type='radio' value='rood-rechts'>
<label for='buoyage-direction-n-rood-rechts' id='label-buoyage-direction-n-rood-rechts'></label>
<input id='buoyage-direction-n-rood-links' name='buoyage-direction' type='radio' value='rood-links'>
<label for='buoyage-direction-n-rood-links' id='label-buoyage-direction-n-rood-links'></label>
<input id='buoyage-direction-n-geen' name='buoyage-direction' type='radio' value='geen'>
<label for='buoyage-direction-n-geen' id='label-buoyage-direction-n-geen'></label>
</li>
<li id='button-group-o'>
<input id='flow-direction-o' name='flow-direction' type='radio' value='o'>
<label for='flow-direction-o' id='label-flow-direction-o'></label>
<input id='buoyage-direction-o-rood-rechts' name='buoyage-direction' type='radio' value='rood-rechts'>
<label for='buoyage-direction-o-rood-rechts' id='label-buoyage-direction-o-rood-rechts'></label>
<input id='buoyage-direction-o-rood-links' name='buoyage-direction' type='radio' value='rood-links'>
<label for='buoyage-direction-o-rood-links' id='label-buoyage-direction-o-rood-links'></label>
<input id='buoyage-direction-o-geen' name='buoyage-direction' type='radio' value='geen'>
<label for='buoyage-direction-o-geen' id='label-buoyage-direction-o-geen'></label>
</li>
<li id='button-group-z'>
<input id='flow-direction-z' name='flow-direction' type='radio' value='z'>
<label for='flow-direction-z' id='label-flow-direction-z'></label>
<input id='buoyage-direction-z-rood-rechts' name='buoyage-direction' type='radio' value='rood-rechts'>
<label for='buoyage-direction-z-rood-rechts' id='label-buoyage-direction-z-rood-rechts'></label>
<input id='buoyage-direction-z-rood-links' name='buoyage-direction' type='radio' value='rood-links'>
<label for='buoyage-direction-z-rood-links' id='label-buoyage-direction-z-rood-links'></label>
<input id='buoyage-direction-z-geen' name='buoyage-direction' type='radio' value='geen'>
<label for='buoyage-direction-z-geen' id='label-buoyage-direction-z-geen'></label>
</li>
<li id='button-group-w'>
<input id='flow-direction-w' name='flow-direction' type='radio' value='w'>
<label for='flow-direction-w' id='label-flow-direction-w'></label>
<input id='buoyage-direction-w-rood-rechts' name='buoyage-direction' type='radio' value='rood-rechts'>
<label for='buoyage-direction-w-rood-rechts' id='label-buoyage-direction-w-rood-rechts'></label>
<input id='buoyage-direction-w-rood-links' name='buoyage-direction' type='radio' value='rood-links'>
<label for='buoyage-direction-w-rood-links' id='label-buoyage-direction-w-rood-links'></label>
<input id='buoyage-direction-w-geen' name='buoyage-direction' type='radio' value='geen'>
<label for='buoyage-direction-w-geen' id='label-buoyage-direction-w-geen'></label>
</li>
</ul>
</li>
