<ul id='element-filters'>
<li>
<legend>Toon:</legend>
</li>
<li>
<input checked='checked' id='filter-Informatief onderdeel' name='Informatief onderdeel' type='checkbox' value='show'>
<label for='filter-Informatief onderdeel'>Informatief onderdeel</label>
</li>
<li>
<input checked='checked' id='filter-Kolkdeel' name='Kolkdeel' type='checkbox' value='show'>
<label for='filter-Kolkdeel'>Kolkdeel</label>
</li>
<li>
<input checked='checked' id='filter-Kolkovergang' name='Kolkovergang' type='checkbox' value='show'>
<label for='filter-Kolkovergang'>Kolkovergang</label>
</li>
<li>
<input checked='checked' id='filter-Deur' name='Deur' type='checkbox' value='show'>
<label for='filter-Deur'>Deur</label>
</li>
<li>
<input checked='checked' id='filter-Deur met hoogwaterkerende functie' name='Deur met hoogwaterkerende functie' type='checkbox' value='show'>
<label for='filter-Deur met hoogwaterkerende functie'>Deur met hoogwaterkerende functie</label>
</li>
<li>
<input checked='checked' id='filter-Overliggend onderdeel' name='Overliggend onderdeel' type='checkbox' value='show'>
<label for='filter-Overliggend onderdeel'>Overliggend onderdeel</label>
</li>
</ul>
