<li class='diagram-editor-options' id='network-direction'>
<legend>Netwerk richting</legend>
<input id='network-direction-n' name='network-direction' type='radio' value='n'>
<label for='network-direction-n' id='label-network-direction-n'></label>
<input id='network-direction-o' name='network-direction' type='radio' value='o'>
<label for='network-direction-o' id='label-network-direction-o'></label>
<input id='network-direction-z' name='network-direction' type='radio' value='z'>
<label for='network-direction-z' id='label-network-direction-z'></label>
<input id='network-direction-w' name='network-direction' type='radio' value='w'>
<label for='network-direction-w' id='label-network-direction-w'></label>
</li>
