<ul id='element-filters'>
<li>
<legend>Toon:</legend>
</li>
<li>
<input checked='checked' id='filter-kolksegment' name='kolksegment' type='checkbox' value='show'>
<label for='filter-kolksegment'>kolksegment</label>
</li>
<li>
<input checked='checked' id='filter-kolkovergang' name='kolkovergang' type='checkbox' value='show'>
<label for='filter-kolkovergang'>kolkovergang</label>
</li>
<li>
<input checked='checked' id='filter-deur' name='deur' type='checkbox' value='show'>
<label for='filter-deur'>deur</label>
</li>
<li>
<input checked='checked' id='filter-hoogwaterkering' name='hoogwaterkering' type='checkbox' value='show'>
<label for='filter-hoogwaterkering'>hoogwaterkering</label>
</li>
<li>
<input checked='checked' id='filter-brug of weg' name='brug of weg' type='checkbox' value='show'>
<label for='filter-brug of weg'>brug of weg</label>
</li>
</ul>
