body{
    font-family: sans-serif;
}

pre{
    font-family: Menlo;
}

.tile{
    width: 250px;
    height: 500px;
    float: left;
    margin: 10px;
    border: 1px solid silver;
    position: relative;
    text-align: center;
    padding-bottom: 180px;
}

img{
    margin: 5%;
    max-width: 90%;
    box-sizing: border-box;
    outline: 1px solid #f0f0f0;
}
.symbol{
    position: absolute;
    bottom: 90px;
    width: 100%;
    text-align: center;
    background-color: white;
    font-family: "Fira Mono";
    letter-spacing: 0.1em;

}

span{
    background-color: #ffd300;
    font-size: 24px;
    padding: 0.25em;
    line-height: 1.5em;
}

.filename{
    position: absolute;
    bottom: 50px;
    display: block;
    width: 100%;
    text-align: center;
    background-color: white;
    font-size: 11px;
    font-family: "Fira Mono";
}


.tooltip{
    display: block;
    background-color: #f0f0f0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 45px;
    font-size: 12.5px;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}